@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-2: #188ce8;
  --primary-bg-color: #ffffff;
  --text-color-1: #ffffff;
  --text-color-2: #000000;
  --background-color1: #2f303a;
  --text-color-rgba: rgba(255, 255, 255, 0.6);
  --background-color2: #f5f4fa;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --box-shadov-color1: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --border-color-port: #eeeeee;
  --icon-grey-color: #afb1b8;
  --overlay-work-color: rgba(47, 48, 58, 0.8);
  --box-shadov-mix__list: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --overlay-backgroubd-color: rgba(33, 150, 243, 0.9);
  --border-color: 1px solid rgba(33, 33, 33, 0.2);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* main */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.social-mobile, .mobile-contacts__list, .menu-mobile, .button__list, .mix__list, .social__list-footer, .footer__contact-list, .clients__list, .social__list, .team__list, .work__list, .benefits__list, .navigation__list, .contact__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.portfolio__title, .footer__form-label, .benefits__caption {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.portfolio, .clients, .team, .benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio, .clients, .team, .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.work {
  padding-bottom: 94px;
  padding-top: 0;
}

.page-header {
  position: relative;
  background-color: var(--text-color-1);
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 480px) {
  .page-header {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .page-header__conteiner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contact__list {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .contact__list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-icon {
  margin-bottom: 0;
  margin-right: 10px;
  fill: currentColor;
  padding: 0;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__item {
  -webkit-transition: fill 250ms var(--timing-function), stroke 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), stroke 250ms var(--timing-function);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item + .contact__item {
    margin-left: 30px;
  }
}

.contact__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

/* Navigation */
.navigation__item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
  position: relative;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__link--current {
  color: var(--accent-color);
  position: relative;
}
.navigation__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  background-color: var(--accent-color);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  margin: 0%;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 92px;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: auto;
}

.menu-toggle .icon-cross {
  display: none;
}

.menu-toggle.js-open-menu .icon-cross {
  display: block;
}

.menu-toggle.js-open-menu .icon-menu {
  display: none;
}

.menu-conteiner {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--text-color-1);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-480.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-480.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-768.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-768.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding: 200px 0px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-1200.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1200.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-480@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-480@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-768@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-768@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-1200@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1200@2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-1);
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    max-width: 360px;
    line-height: 1.36;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
  }
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: start;
  }
}

.benefits__item::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-color2);
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits__item:nth-child(1)::before {
  background-image: url(../images/icon/antenna1.svg);
}

.benefits__item:nth-child(2)::before {
  background-image: url(../images/icon/clock1.svg);
}

.benefits__item:nth-child(3)::before {
  background-image: url(../images/icon/diagram1.svg);
}

.benefits__item:nth-child(4)::before {
  background-image: url(../images/icon/astronaut1.svg);
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .benefits__item:not(:nth-child(4n)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
  }
}

@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  color: var(--secondary-text-color);
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__item {
  position: relative;
}

.work__list--overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--overlay-work-color);
}

.work__caption {
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

.team {
  background-color: var(--background-color2);
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team__list {
  background-color: var(--background-color2);
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
}

.team__item {
  display: block;
  padding-bottom: 30px;
  background-color: var(--text-color-1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.team__work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team__image {
  margin-bottom: 30px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-grey-color);
  -webkit-transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-bg-color);
}

.social__item:not(:nth-child(4n)) {
  margin-right: 10px;
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: var(--icon-grey-color);
  -webkit-transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
  gap: 30px;
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    padding: 16px 32px;
    width: 170px;
  }
}

.page-footer {
  background-color: var(--background-color1);
}
@media screen and (max-width: 1199px) {
  .page-footer {
    text-align: center;
  }
}

.footer__container {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__box-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 480px) {
  .footer__box-left {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__box-left {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .footer__contact-list {
    text-align: center;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__link--white {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin-bottom: 9px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  color: var(--text-color-1);
  white-space: nowrap;
}
.adress__link--white:hover, .adress__link--white:focus {
  color: var(--accent-color);
}

.adress__link {
  color: var(--text-color-rgba);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.adress__link:hover, .adress__link:focus {
  color: var(--accent-color);
}

/* центральний футер контейнер */
@media screen and (min-width: 480px) {
  .footer__box-midle {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__box-midle {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box-midle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 70px;
  }
}

.footer__midle-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-bg-color);
}
@media screen and (min-width: 1200px) {
  .footer__midle-text {
    text-align: start;
  }
}

.social__list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .social__list-footer {
    margin-bottom: 0;
  }
}

.social__link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-bg-color);
  -webkit-transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.social__item-footer:not(:nth-child(4n)) {
  margin-right: 10px;
}

.social__link-footer:hover,
.social__link-footer:focus {
  background-color: var(--accent-color);
  fill: var(--primary-bg-color);
}

/* footer Підписка */
@media screen and (min-width: 1200px) {
  .footer__box-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 93px;
  }
}
@media screen and (min-width: 768px) {
  .footer__box-right {
    margin-top: 60px;
  }
}

.footer__right-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__right-text {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__form-input {
  width: 100%;
  max-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__form-input {
    min-width: 358px;
    max-height: 50px;
    margin-bottom: 0;
  }
}

.footer__form-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__modal-icon {
  margin-left: 12px;
}
@media screen and (min-width: 1200px) {
  .footer__modal-icon {
    margin-left: 10px;
  }
}

.main__portfolio {
  background-color: var(--primary-bg-color);
}

.portfolio {
  background-color: var(--text-color-1);
  padding-top: 94px;
}

.mix__caption {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.mix__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.mix__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .mix__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.mix__list-item {
  width: 370px;
  background: var(--text-color-1);
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.mix__list-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.mix__list-item:hover, .mix__list-item:focus {
  -webkit-box-shadow: var(--box-shadov-mix__list);
          box-shadow: var(--box-shadov-mix__list);
}
@media screen and (max-width: 767px) {
  .mix__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .mix__list-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .mix__list-item {
    width: 370px;
  }
}

.item-list {
  padding: 20px 24px;
  border: 1px solid var(--border-color-port);
  border-top: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mix__list-link {
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.mix__list-face {
  position: relative;
  overflow: hidden;
}

.mix__list-item:hover .mix__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.mix__overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-backgroubd-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.mix__overlay-text {
  position: absolute;
  top: 63px;
  bottom: 63px;
  left: 24px;
  right: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}
@media screen and (max-width: 479px) {
  .mix__overlay-text {
    font-size: 16px;
    top: 28px;
  }
}

.header__logo {
  color: var(--text-color-2);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .header__logo {
    padding: 16px 0 16px;
  }
}

.header__logo-accent {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
}

.footer__logo {
  color: var(--text-color-1);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}

.footer__logo-accent {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
}

.button {
  font-family: inherit;
}

.button {
  color: var(--text-color-1);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  -webkit-box-shadow: 0px 4px 4px var(--box-shadow-color);
          box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  border: none;
  padding: 10px 32px 10px 32px;
  letter-spacing: 0.06em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.button:hover, .button:focus {
  background-color: var(--accent-color-2);
}

.btn__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__btn {
  padding: 10px 52px;
}

.button__type {
  color: var(--secondary-text-color);
  background-color: var(--button-background-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  -webkit-box-shadow: 0px 3px 1px var(--box-shadov-color1);
          box-shadow: 0px 3px 1px var(--box-shadov-color1);
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: none;
  text-decoration: none;
  background: #f5f4fa;
  border-radius: 4px;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.button__type:hover, .button__type:focus {
  color: var(--text-color-1);
  background-color: var(--accent-color);
}

.button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .button__list {
    max-width: 326px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    row-gap: 15px;
  }
}
@media screen and (min-width: 768px) {
  .button__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .button__list-item:not(:last-child) {
    margin-right: 8px;
  }
}

.footer__right-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 8px 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__right-btn {
    min-width: 200px;
    margin-left: 10px;
    padding: 10px 28px;
  }
}

.button-menu__open,
.button-menu__close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .button-menu__open,
.button-menu__close {
    display: none;
  }
}
.button-menu__open:hover, .button-menu__open:focus,
.button-menu__close:hover,
.button-menu__close:focus {
  fill: #2196f3;
}

.button-menu__close {
  position: absolute;
  top: 21px;
  right: 25px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 100%;
  min-height: 609px;
  max-width: 450px;
  background-color: var(--primary-bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    min-height: 581px;
    max-width: 528px;
  }
}
@media screen and (max-width: 767px) {
  .modal {
    width: 95%;
  }
}

.form {
  margin-left: auto;
  margin-right: auto;
}

.form-modal {
  text-align: center;
}

.modal .text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (max-width: 1199px) {
  .modal .text {
    font-size: 20px;
    line-height: 1.5;
  }
}

.icon__modal {
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.icon__modal:hover {
  fill: var(--accent-color);
}

.form__modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.form__modal-input:hover, .form__modal-input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.form__modal-input:hover + .modal__icon, .form__modal-input:focus + .modal__icon {
  fill: var(--accent-color);
}

.form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--secondary-text-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.comment {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  resize: none;
  margin-bottom: 10px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.comment::-webkit-input-placeholder {
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.comment::-moz-placeholder {
  -moz-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.comment:-ms-input-placeholder {
  -ms-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.comment::-ms-input-placeholder {
  -ms-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.comment::placeholder {
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment:hover,
.comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form__modal-check {
  margin-bottom: 30px;
}

.check__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.16;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .check__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--secondary-text-color);
  margin-right: 7px;
}

.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form__checkbox:checked + .icon-check {
  background-color: var(--accent-color);
  background-image: url("../images/icon/icon-check.svg");
  background-position: center;
  border-color: var(--accent-color);
}

.check-link {
  color: var(--accent-color);
  margin-left: 4px;
  background-size: contain;
  background-origin: border-box;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: white;
  z-index: 999;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-mobile {
  text-decoration: none;
}

.menu-mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.menu-mobile__link:focus, .menu-mobile__link:hover {
  color: var(--accent-color);
}

.menu-mobile__link-current {
  color: var(--accent-color);
}

.mobile-contacts {
  margin-top: auto;
}

.menu__tell {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 64px;
  text-decoration: none;
}

.mobile-contacts__tell {
  margin-bottom: 32px;
}

.mobile-contacts__mail {
  margin-bottom: 64px;
}

.social-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.social-mobile__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.social-mobile__item + .social-mobile__item {
  border-left: var(--border-color);
}/*# sourceMappingURL=main.css.map */